/.garbage/
/err.txt

/libtickit-0.1/.libs
/libtickit-0.1/examples/.libs/
/libtickit-0.1/examples/*.o
/libtickit-0.1/examples/demo-input
/libtickit-0.1/examples/demo-pen
/libtickit-0.1/examples/demo-scroll
/libtickit-0.1/examples/demo-termctl
/libtickit-0.1/examples/demo-timer
/libtickit-0.1/examples/demo-xterm256
/libtickit-0.1/src/.libs
/libtickit-0.1/src/*.o
/libtickit-0.1/src/*.lo



